<div class="modal fade" id="about-dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="splash-logo">
      		
      	</div>

      	<div class="about-message">
	      	<span>{{{strings.i18n_html_about_embellisher_ereader}}}</span>
      	</div>
      	<div class="parner-logo">
		</div>
        <h4 style="color:#111155">{{{strings.gethelpemre}}}</h4>
        <div class="version">{{strings.version}}</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->